.kpi-card {
    background-color: #FFA94D;
    border-radius: 16px;
    padding: 20px;
    width: 240px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    font-family: Poppins;
    color: black;
    text-align: center;
}

.kpi-icon {
    width: 40px;
    margin-bottom: 10px;
}

.kpi-label {
    font-size: 16px;
    margin-bottom: 8px;
}

.kpi-value {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.kpi-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .kpi-container {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  
    .kpi-card {
      width: 90%;
      max-width: 320px;
    }
  
    .kpi-value {
      font-size: 28px;
    }
  }
  
