.menu_dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 260px;
    z-index: 1000; 
}

.iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}
.icono_tamaño {
    height: 30px;
    width: auto;
}

@media (max-width: 768px) {
    .menu_dashboard {
      width: 100%;
      height: 60px;
      flex-direction: row;
      padding-top: 0;
      justify-content: center;
      gap: 40px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }
  
    .iconos {
      flex-direction: row;
      gap: 40px;
    }
  
    .icono_tamaño {
      height: 24px;
    }
  }
  